<div class='my-4'>
	<div>
		<h1>My Deleted Courses</h1>
		<a class='btn btn-info' href='/me/stored/courses'>Your Courses</a>
	</div>
	<table class='table mt-4'>
		<thead>
			<tr>
				<th scope='col'>#</th>
				<th scope='col'>Name</th>
				<th scope='col'>Level</th>
				<th scope='col'>Deleted Date</th>
				<th scope='col'></th>
			</tr>
		</thead>
		<tbody>
			{{#each courses}}
				<tr>
					<th scope='row'>{{sum @index 1}}</th>
					<td>{{this.name}}</td>
					<td>{{this.level}}</td>
					<td>{{this.deletedAt}}</td>
					<td>
						<a
							href=''
							data-bs-id='{{this._id}}'
							class='btn btn-link btn-restore'
						>Restore</a>
						<a
							href=''
							data-bs-id='{{this._id}}'
							data-bs-toggle='modal'
							data-bs-target='#deleteModal'
							class='btn btn-link'
						>Delete</a>
					</td>
				</tr>
			{{else}}
				<tr>
					<td colspan='5' style='text-align:center'>
						The trash is empty!
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>

{{! Confirm Delete Modal }}
<div class='modal' id='deleteModal' tabindex='-1'>
	<div class='modal-dialog'>
		<div class='modal-content'>
			<div class='modal-header'>
				<h5 class='modal-title'>Delete Course Forever</h5>
				<button
					type='button'
					class='btn-close'
					data-bs-dismiss='modal'
					aria-label='Close'
				></button>
			</div>
			<div class='modal-body'>
				<em><small>This action cannot be restored!</small></em>
				<p>Are you sure to delete this course permanently?</p>
			</div>
			<div class='modal-footer'>
				<button
					type='button'
					id='btn-delete-course'
					class='btn btn-danger'
				>Delete Permanently</button>
				<button
					type='button'
					class='btn btn-secondary'
					data-bs-dismiss='modal'
				>Close</button>
			</div>
		</div>
	</div>
</div>

{{! Delete hidden form }}
<form method='POST' name='delete-course-form'></form>
<form method='POST' name='restore-course-form'></form>

<script>
	const restoreBtn = document.querySelectorAll('.btn-restore'); const
	restoreForm = document.forms['restore-course-form']; const deleteModal =
	document.getElementById('deleteModal'); const deleteForm =
	document.forms['delete-course-form']; let courseId; console.log(restoreBtn);
	deleteModal.addEventListener('show.bs.modal', function (event) { const
	button = event.relatedTarget; courseId = button.getAttribute('data-bs-id');
	const btnDeleteCourse = document.getElementById('btn-delete-course');
	btnDeleteCourse.onclick =function() { deleteForm.action = '/courses/' +
	courseId + '/force?_method=DELETE'; deleteForm.submit(); } }); for (let i =
	0; i <restoreBtn.length; i++) { restoreBtn[i].onclick = function(e) {
	e.preventDefault(); const courseId =
	restoreBtn[i].getAttribute('data-bs-id'); restoreForm.action = '/courses/' +
	courseId + '/restore?_method=PATCH'; restoreForm.submit()} }
</script>